<html>
    <head>
        <title>Dock Chat</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Dock Chat</h1>
                <label> Web Container:  <strong>{{hostname}}</strong> </label>
        </div>
        <div id="messages">
              <script>
                function myFunction(users,messages) {
                      var users_list = users;
                      var messages_list = messages;
                      var text = "";
                      var i;
                      for (i = 0; i < messages_list.length ; i++) {
                          text += " <label>  " + users_list[i] + " says : "+ messages_list[i] + "</label>";
                      }
                      return text
                      }
                      document.getElementById("messages").innerHTML = myFunction({{ users|tojson }},{{ messages|tojson }});
                    </script>
                  </div>
        <div id="content">
                  <form method="post" action="{{ url_for('chat') }}">
                  <label for="user">Please enter your name :
                  <input type="text" name="user" /> <br/></label>
                  <label for="message">Please enter a message :
                  <input type="text" name="message" /> <br/></label>
                  <input type="submit" />
                </form>
            </div>
    </body>
</html>
 
